test.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://jws.cronon.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ContractAccessService" targetNamespace="http://jws.cronon.net/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jws.cronon.net/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://jws.cronon.net/" version="1.0">
<xs:element name="ActivateContractLineRequest" type="tns:activateContractLineRequestDto"/>
<xs:element name="ContractDeactivationRequestLine" type="tns:contractDeactivationRequestLineDto"/>
<xs:element name="ContractLine" type="tns:createContractRequestLine"/>
<xs:element name="ContractReactivationRequestLine" type="tns:contractReactivationRequestLineDto"/>
<xs:element name="CreateBusinessContractLinesRequest" type="tns:createBusinessContractLinesRequestDto"/>
<xs:element name="CreateBusinessContractLinesRequestLine" type="tns:createBusinessContractLinesRequestLineDto"/>
<xs:element name="CreateContractRequest" type="tns:createContractRequestDto"/>
<xs:element name="DeactivateBusinessContractLinesRequest" type="tns:deactivateBusinessContractLinesRequestDto"/>
<xs:element name="ReactivateBusinessContractLinesRequest" type="tns:reactivateBusinessContractLinesRequestDto"/>
<xs:element name="ReadContractContractLine" type="tns:readContractResponseLine"/>
<xs:element name="ReadContractHeadersEntry" type="tns:readContractHeadersResponseEntry"/>
<xs:element name="ReadContractHeadersRequest" type="tns:readContractHeadersRequestDto"/>
<xs:element name="ReadContractHeadersResponseContent" type="tns:readContractHeadersResponseDto"/>
<xs:element name="ReadContractRequest" type="tns:readContractRequestDto"/>
<xs:element name="ReadContractResponseContent" type="tns:readContractResponseDto"/>
<xs:element name="WsHeader" type="tns:wsHeader"/>
<xs:element name="activateContractLine" type="tns:activateContractLine"/>
<xs:element name="activateContractLineResponse" type="tns:activateContractLineResponse"/>
<xs:element name="createBusinessContractLines" type="tns:createBusinessContractLines"/>
<xs:element name="createBusinessContractLinesResponse" type="tns:createBusinessContractLinesResponse"/>
<xs:element name="createContract" type="tns:createContract"/>
<xs:element name="createContractResponse" type="tns:createContractResponse"/>
<xs:element name="deactivateBusinessContractLines" type="tns:deactivateBusinessContractLines"/>
<xs:element name="deactivateBusinessContractLinesResponse" type="tns:deactivateBusinessContractLinesResponse"/>
<xs:element name="reactivateBusinessContractLines" type="tns:reactivateBusinessContractLines"/>
<xs:element name="reactivateBusinessContractLinesResponse" type="tns:reactivateBusinessContractLinesResponse"/>
<xs:element name="readBusinessContract" type="tns:readBusinessContract"/>
<xs:element name="readBusinessContractResponse" type="tns:readBusinessContractResponse"/>
<xs:element name="readContractHeaders" type="tns:readContractHeaders"/>
<xs:element name="readContractHeadersResponse" type="tns:readContractHeadersResponse"/>
<xs:complexType name="readBusinessContract">
<xs:sequence>
<xs:element minOccurs="0" name="ReadContractRequest" type="tns:readContractRequestDto"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="readContractRequestDto">
<xs:sequence>
<xs:element minOccurs="0" name="ExternalContractID" type="xs:string"/>
<xs:element minOccurs="0" name="ExternalContractNumber" type="xs:string"/>
<xs:element name="MandantId" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="readBusinessContractResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:readContractResponseDto"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="readContractResponseDto">
<xs:sequence>
<xs:element minOccurs="0" name="CollectiveInvoice" type="xs:boolean"/>
<xs:element minOccurs="0" name="CollectiveInvoiceDay" type="xs:long"/>
<xs:element minOccurs="0" name="ReadContractContractLines">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="ReadContractContractLine" type="tns:readContractResponseLine"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="CustomerNumber" type="xs:string"/>
<xs:element minOccurs="0" name="ExternalContractID" type="xs:string"/>
<xs:element minOccurs="0" name="ExternalContractNumber" type="xs:string"/>
<xs:element name="MandantID" type="xs:int"/>
<xs:element minOccurs="0" name="OrderDate" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="readContractResponseLine">
<xs:sequence>
<xs:element minOccurs="0" name="AdditionalInformation" type="xs:string"/>
<xs:element minOccurs="0" name="EndDate" type="xs:string"/>
<xs:element minOccurs="0" name="ExternalContractLineID" type="xs:string"/>
<xs:element minOccurs="0" name="ItemID" type="xs:string"/>
<xs:element minOccurs="0" name="OrderDate" type="xs:string"/>
<xs:element minOccurs="0" name="ParentLineId" type="xs:string"/>
<xs:element minOccurs="0" name="PaymentStatus" type="xs:long"/>
<xs:element minOccurs="0" name="StartDate" type="xs:string"/>
<xs:element minOccurs="0" name="TerminationReason" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="details">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="entry" type="tns:entry"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="entry">
<xs:sequence>
<xs:element minOccurs="0" name="code" type="tns:code"/>
<xs:element minOccurs="0" name="key" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="activateContractLine">
<xs:sequence>
<xs:element minOccurs="0" name="ActivateContractLineRequest" type="tns:activateContractLineRequestDto"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="activateContractLineRequestDto">
<xs:sequence>
<xs:element minOccurs="0" name="AdditionalInformation" type="xs:string"/>
<xs:element minOccurs="0" name="ExternalContractLineID" type="xs:string"/>
<xs:element minOccurs="0" name="StartDate" type="xs:string"/>
<xs:element minOccurs="0" name="WsHeader" type="tns:wsHeader"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="wsHeader">
<xs:sequence>
<xs:element name="MandantId" type="xs:int"/>
<xs:element minOccurs="0" name="CorrelationId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="activateContractLineResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="reactivateBusinessContractLines">
<xs:sequence>
<xs:element minOccurs="0" name="ReactivateBusinessContractLinesRequest" type="tns:reactivateBusinessContractLinesRequestDto"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="reactivateBusinessContractLinesRequestDto">
<xs:sequence>
<xs:element minOccurs="0" name="ContractReactivationRequestLines">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="ContractReactivationRequestLine" type="tns:contractReactivationRequestLineDto"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="WsHeader" type="tns:wsHeader"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="contractReactivationRequestLineDto">
<xs:sequence>
<xs:element minOccurs="0" name="ExternalContractLineID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="reactivateBusinessContractLinesResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="createBusinessContractLines">
<xs:sequence>
<xs:element minOccurs="0" name="CreateBusinessContractLinesRequest" type="tns:createBusinessContractLinesRequestDto"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createBusinessContractLinesRequestDto">
<xs:sequence>
<xs:element minOccurs="0" name="CreateBusinessContractLinesRequestLines">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="CreateBusinessContractLinesRequestLine" type="tns:createBusinessContractLinesRequestLineDto"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ExternalContractID" type="xs:string"/>
<xs:element minOccurs="0" name="WsHeader" type="tns:wsHeader"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createBusinessContractLinesRequestLineDto">
<xs:sequence>
<xs:element minOccurs="0" name="ExternalContractLineID" type="xs:string"/>
<xs:element minOccurs="0" name="ItemID" type="xs:string"/>
<xs:element minOccurs="0" name="OrderDate" type="xs:string"/>
<xs:element minOccurs="0" name="ParentLineId" type="xs:string"/>
<xs:element minOccurs="0" name="PaymentStatus" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createBusinessContractLinesResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="createContract">
<xs:sequence>
<xs:element minOccurs="0" name="CreateContractRequest" type="tns:createContractRequestDto"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createContractRequestDto">
<xs:sequence>
<xs:element name="CollectiveInvoice" type="xs:boolean"/>
<xs:element name="CollectiveInvoiceDay" type="xs:long"/>
<xs:element minOccurs="0" name="ContractLines">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="ContractLine" type="tns:createContractRequestLine"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="CustomerNumber" type="xs:string"/>
<xs:element minOccurs="0" name="ExternalContractID" type="xs:string"/>
<xs:element minOccurs="0" name="ExternalContractNumber" type="xs:string"/>
<xs:element minOccurs="0" name="OrderDate" type="xs:string"/>
<xs:element minOccurs="0" name="WsHeader" type="tns:wsHeader"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createContractRequestLine">
<xs:sequence>
<xs:element minOccurs="0" name="ExternalContractLineID" type="xs:string"/>
<xs:element minOccurs="0" name="ItemID" type="xs:string"/>
<xs:element minOccurs="0" name="OrderDate" type="xs:string"/>
<xs:element minOccurs="0" name="ParentLineId" type="xs:string"/>
<xs:element minOccurs="0" name="PaymentStatus" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createContractResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="deactivateBusinessContractLines">
<xs:sequence>
<xs:element minOccurs="0" name="DeactivateBusinessContractLinesRequest" type="tns:deactivateBusinessContractLinesRequestDto"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deactivateBusinessContractLinesRequestDto">
<xs:sequence>
<xs:element minOccurs="0" name="ContractDeactivationRequestLines">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="ContractDeactivationRequestLine" type="tns:contractDeactivationRequestLineDto"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="WsHeader" type="tns:wsHeader"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="contractDeactivationRequestLineDto">
<xs:sequence>
<xs:element minOccurs="0" name="EndDate" type="xs:string"/>
<xs:element minOccurs="0" name="ExternalContractLineID" type="xs:string"/>
<xs:element minOccurs="0" name="TerminationReason" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deactivateBusinessContractLinesResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="readContractHeaders">
<xs:sequence>
<xs:element minOccurs="0" name="ReadContractHeadersRequest" type="tns:readContractHeadersRequestDto"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="readContractHeadersRequestDto">
<xs:sequence>
<xs:element name="CustomerNumber" type="xs:string"/>
<xs:element name="MandantId" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="readContractHeadersResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:readContractHeadersResponseDto"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="readContractHeadersResponseDto">
<xs:sequence>
<xs:element minOccurs="0" name="ContractHeaders">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="ContractHeader" type="tns:readContractHeadersResponseEntry"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="readContractHeadersResponseEntry">
<xs:sequence>
<xs:element minOccurs="0" name="CollectiveInvoice" type="xs:boolean"/>
<xs:element minOccurs="0" name="CollectiveInvoiceDay" type="xs:long"/>
<xs:element minOccurs="0" name="CustomerNumber" type="xs:string"/>
<xs:element minOccurs="0" name="ExternalContractID" type="xs:string"/>
<xs:element minOccurs="0" name="ExternalContractNumber" type="xs:string"/>
<xs:element name="MandantID" type="xs:int"/>
<xs:element minOccurs="0" name="OrderDate" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="code">
<xs:restriction base="xs:string">
<xs:enumeration value="OptimisticLocking"/>
<xs:enumeration value="SemanticBusinessValidationEntry"/>
<xs:enumeration value="DuplicateKey"/>
<xs:enumeration value="OutOfRange"/>
<xs:enumeration value="NotBlank"/>
<xs:enumeration value="NotEmpty"/>
<xs:enumeration value="NotNull"/>
<xs:enumeration value="OrderOfEntriesNotRespected"/>
<xs:enumeration value="Pattern"/>
<xs:enumeration value="Iban"/>
<xs:enumeration value="Email"/>
<xs:enumeration value="Digits"/>
<xs:enumeration value="Unknown"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="CrononSoapException" type="tns:CrononSoapException"/>
<xs:complexType name="CrononSoapException">
<xs:sequence>
<xs:element minOccurs="0" name="errorId" type="xs:string"/>
<xs:element minOccurs="0" name="recoverable" type="xs:boolean"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
<xs:element minOccurs="0" name="stacktrace" type="xs:string"/>
<xs:element minOccurs="0" name="details" type="tns:details"/>
<xs:element minOccurs="0" name="code" type="xs:string"/>
<xs:element minOccurs="0" name="wsdlOperation" type="xs:string"/>
<xs:element minOccurs="0" name="correlationId" type="xs:string"/>
<xs:element minOccurs="0" name="wsdlService" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="timeStamp" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="readBusinessContract">
<wsdl:part element="tns:readBusinessContract" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="createBusinessContractLinesResponse">
<wsdl:part element="tns:createBusinessContractLinesResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="activateContractLine">
<wsdl:part element="tns:activateContractLine" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="reactivateBusinessContractLines">
<wsdl:part element="tns:reactivateBusinessContractLines" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CrononSoapException">
<wsdl:part element="tns:CrononSoapException" name="CrononSoapException"> </wsdl:part>
</wsdl:message>
<wsdl:message name="reactivateBusinessContractLinesResponse">
<wsdl:part element="tns:reactivateBusinessContractLinesResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="readContractHeadersResponse">
<wsdl:part element="tns:readContractHeadersResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="readContractHeaders">
<wsdl:part element="tns:readContractHeaders" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="activateContractLineResponse">
<wsdl:part element="tns:activateContractLineResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="deactivateBusinessContractLinesResponse">
<wsdl:part element="tns:deactivateBusinessContractLinesResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="readBusinessContractResponse">
<wsdl:part element="tns:readBusinessContractResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="createBusinessContractLines">
<wsdl:part element="tns:createBusinessContractLines" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="createContractResponse">
<wsdl:part element="tns:createContractResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="createContract">
<wsdl:part element="tns:createContract" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="deactivateBusinessContractLines">
<wsdl:part element="tns:deactivateBusinessContractLines" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="ContractAccess">
<wsdl:operation name="readBusinessContract">
<wsdl:input message="tns:readBusinessContract" name="readBusinessContract"> </wsdl:input>
<wsdl:output message="tns:readBusinessContractResponse" name="readBusinessContractResponse"> </wsdl:output>
<wsdl:fault message="tns:CrononSoapException" name="CrononSoapException"> </wsdl:fault>
</wsdl:operation>
<wsdl:operation name="activateContractLine">
<wsdl:input message="tns:activateContractLine" name="activateContractLine"> </wsdl:input>
<wsdl:output message="tns:activateContractLineResponse" name="activateContractLineResponse"> </wsdl:output>
<wsdl:fault message="tns:CrononSoapException" name="CrononSoapException"> </wsdl:fault>
</wsdl:operation>
<wsdl:operation name="reactivateBusinessContractLines">
<wsdl:input message="tns:reactivateBusinessContractLines" name="reactivateBusinessContractLines"> </wsdl:input>
<wsdl:output message="tns:reactivateBusinessContractLinesResponse" name="reactivateBusinessContractLinesResponse"> </wsdl:output>
<wsdl:fault message="tns:CrononSoapException" name="CrononSoapException"> </wsdl:fault>
</wsdl:operation>
<wsdl:operation name="createBusinessContractLines">
<wsdl:input message="tns:createBusinessContractLines" name="createBusinessContractLines"> </wsdl:input>
<wsdl:output message="tns:createBusinessContractLinesResponse" name="createBusinessContractLinesResponse"> </wsdl:output>
<wsdl:fault message="tns:CrononSoapException" name="CrononSoapException"> </wsdl:fault>
</wsdl:operation>
<wsdl:operation name="createContract">
<wsdl:input message="tns:createContract" name="createContract"> </wsdl:input>
<wsdl:output message="tns:createContractResponse" name="createContractResponse"> </wsdl:output>
<wsdl:fault message="tns:CrononSoapException" name="CrononSoapException"> </wsdl:fault>
</wsdl:operation>
<wsdl:operation name="deactivateBusinessContractLines">
<wsdl:input message="tns:deactivateBusinessContractLines" name="deactivateBusinessContractLines"> </wsdl:input>
<wsdl:output message="tns:deactivateBusinessContractLinesResponse" name="deactivateBusinessContractLinesResponse"> </wsdl:output>
<wsdl:fault message="tns:CrononSoapException" name="CrononSoapException"> </wsdl:fault>
</wsdl:operation>
<wsdl:operation name="readContractHeaders">
<wsdl:input message="tns:readContractHeaders" name="readContractHeaders"> </wsdl:input>
<wsdl:output message="tns:readContractHeadersResponse" name="readContractHeadersResponse"> </wsdl:output>
<wsdl:fault message="tns:CrononSoapException" name="CrononSoapException"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ContractAccessServiceSoapBinding" type="tns:ContractAccess">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="readBusinessContract">
<soap:operation soapAction="readBusinessContract" style="document"/>
<wsdl:input name="readBusinessContract">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="readBusinessContractResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="CrononSoapException">
<soap:fault name="CrononSoapException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="activateContractLine">
<soap:operation soapAction="activateContractLine" style="document"/>
<wsdl:input name="activateContractLine">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="activateContractLineResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="CrononSoapException">
<soap:fault name="CrononSoapException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="reactivateBusinessContractLines">
<soap:operation soapAction="reactivateBusinessContractLines" style="document"/>
<wsdl:input name="reactivateBusinessContractLines">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="reactivateBusinessContractLinesResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="CrononSoapException">
<soap:fault name="CrononSoapException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="createBusinessContractLines">
<soap:operation soapAction="createBusinessContractLines" style="document"/>
<wsdl:input name="createBusinessContractLines">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="createBusinessContractLinesResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="CrononSoapException">
<soap:fault name="CrononSoapException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="createContract">
<soap:operation soapAction="createContract" style="document"/>
<wsdl:input name="createContract">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="createContractResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="CrononSoapException">
<soap:fault name="CrononSoapException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="deactivateBusinessContractLines">
<soap:operation soapAction="deactivateBusinessContractLines" style="document"/>
<wsdl:input name="deactivateBusinessContractLines">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="deactivateBusinessContractLinesResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="CrononSoapException">
<soap:fault name="CrononSoapException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="readContractHeaders">
<soap:operation soapAction="readContractHeaders" style="document"/>
<wsdl:input name="readContractHeaders">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="readContractHeadersResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="CrononSoapException">
<soap:fault name="CrononSoapException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ContractAccessService">
<wsdl:port binding="tns:ContractAccessServiceSoapBinding" name="ContractAccessPort">
<soap:address location="http://10.182.18.152:8080/IonosWebServices/ContractAccess"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>